<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<add key="CsWinRT Offline" value="../cswinrt/src/_build/x64/release/cswinrt/bin"/>
		<add key="XAML Islands" value="bin/nupkg"/>
		<add key="github" value="https://nuget.pkg.github.com/nesherhh/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="nesherhh" />
			<add key="ClearTextPassword" value="TOKEN" />
		</github>
	</packageSourceCredentials>
</configuration>